<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->

    <div class="container-fluid header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                       <figure class="errimg">
                           <img src="images/6.png" alt="about" class="img-fluid" title="Pushpak">
                       </figure>
                        <p>Welcome to Weather </p>
                        <h1>{{errorm}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>

                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    {{>footer}}
</body>

</html>