<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->

    <div class="container-fluid header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                       <figure>
                           <img src="images/about.svg" alt="about" class="img-fluid" title="Pushpak">
                       </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I Am A <span class="txt_clr">Student </span>And A MERN Stack Developer</h1>
                        <a href="https://firstreactproject1.herokuapp.com/" target="blank"><button>About Me</button></a>
                    </div>

                    <!-- right side div -->
                    
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    {{>footer}}
</body>

</html>